<div class="container">
	<div class="card card-container">
		<div class="image_wrap">
			<%= image_tag "brand.png" %>
		</div>
		<p id="profile-name" class="profile-name-card"></p>
			<span id="reauth-email" class="reauth-email"></span>
				<%= render 'form' %>
	</div> 
</div>