<div class="container-fluid">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<h2 class="text-center">Как это работает?</h2>
			<p>RepairYourCar — удобный сервис, который позволяет быстро находить автосервисы и частных мастеров для проведения ремонтных работ автомобиля. Вам достаточно разместить заявку на сайте и через несколько минут вы начнете получать предложения от исполнителей, которые будут готовы решить вашу проблему.</p>

			<table class="table">
				<tr>
					<th>
						<img src="/assets/clipboard.png" alt="" width="128" height="128">
					</th>
					<th>
						<big>Вы создаёте заявку на ремонт, в которой необходимо описать проблему, установить временные сроки ремонта и указать сумму, которую Вы готовы потратить.</big>
					</th>
				</tr>
				<tr>
					<th>
						<img src="/assets/contractor.png" alt="" width="128" height="128">
					</th>
					<th>
						<big>Заявка отправляется всем потенциально подходящим для этого реомнта мастерам</big>
					</th>
				</tr>
				<tr>
					<th>
						<img src="/assets/read.png" alt="" width="128" height="128">
					</th>
					<th>
						<big>Вам начинают поступать предложения по ремонту от частных мастеров и сервисов, готовых приступить к ремонту. Также сервисы и маcтера могут предложить вам свой ценник</big>
					</th>
				</tr>
				<tr>
					<th>
						<img src="/assets/32.png" alt="" width="128" height="128">
					</th>
					<th>
						<big>Вам необходимо выбрать наиболее подходящий для вас вариант из предложенных</big>
					</th>
				</tr>
				<tr>
					<th>
						<img src="/assets/repair.png" alt="" width="128" height="128">
					</th>
					<th>
						<big>Договариваетесь о встрече. Ремонтируете свой автомобиль</big>
					</th>
				</tr>
				<tr>
					<th>
						<img src="/assets/comment.png" alt="" width="128" height="128">
					</th>
					<th>
						<big>Оставляете отзыв о работе мастера или сервиса</big>
					</th>
				</tr>
			</table>
		<div class="col-md-3"></div>
	</div>
</div>
